<!doctype html>
<html lang="zh-CN">

<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<!--公共部分所需css-->
	<div th:replace="~{component/public::head}"></div>
	<title>邮件发送</title>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div th:replace="~{component/public::siderbar}"></div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<div th:replace="~{component/public::top}"></div>
		<!--end header -->
		<!--start page wrapper -->



		<div class="page-wrapper">
			<div class="page-content">
				<!--start email wrapper-->
				<div class="email-wrapper">
					<div class="email-sidebar">
						<div class="email-sidebar-header d-grid"> <a href="javascript:;" id="emailBtn" class="btn btn-primary compose-mail-btn"><i class='bx bx-plus me-2'></i> 编写邮件</a>
						</div>
						<div class="email-sidebar-content">
							<div class="email-navigation">
								<div class="list-group list-group-flush"> <a href="app-emailbox.html" class="list-group-item active d-flex align-items-center"><i class='bx bxs-inbox me-3 font-20'></i><span>消息管理</span></a>
									<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-alarm-snooze me-3 font-20'></i><span>定时任务</span></a>
									<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-bookmark me-3 font-20'></i><span>定时发送日志</span></a>
									<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-send me-3 font-20'></i><span>个人邮箱配置</span></a>
									<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-file-blank me-3 font-20'></i><span>功能介绍</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="email-header d-xl-flex align-items-center">
						<div class="d-flex align-items-center">
							<div class="email-toggle-btn"><i class='bx bx-menu'></i>
							</div>
							<div class="btn btn-white">
								<input class="form-check-input" type="checkbox">
							</div>
							<div class="">
								<button type="button" class="btn btn-white ms-2"><i class='bx bx-refresh me-0'></i>
								</button>
							</div>
							<div class="">
								<button type="button" class="btn btn-white ms-2"><i class='bx bx-trash me-0'></i>
								</button>
							</div>

						</div>
					</div>
					<div class="email-content">
						<div class="">
							<div class="email-list">
								<a href="#">
									<div class="d-md-flex align-items-center email-message px-3 py-1">
										<div class="d-flex align-items-center email-actions">
											<input class="form-check-input" type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
											<p class="mb-0"><b>主题</b>
											</p>
										</div>
										<div class="">
											<p class="mb-0">内容。。。</p>
										</div>
									</div>
								</a>
								<a href="#">
									<div class="d-md-flex align-items-center email-message px-3 py-1">
										<div class="d-flex align-items-center email-actions">
											<input class="form-check-input" type="checkbox" value="" /> <i class='bx bx-star font-20 mx-2 email-star'></i>
											<p class="mb-0"><b>主题</b>
											</p>
										</div>
										<div class="">
											<p class="mb-0">内容。。。</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>

					<!--模块框   编辑-->
					<div class="col" style="display:inline;position: absolute;right: 5%;top:2%">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal3"  style="display: none">编辑邮件</button>
						<!-- Modal -->
						<div class="modal fade" id="exampleVerticallycenteredModal3" tabindex="-1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">编写</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="card-body">
											<div class="email-form">
												<div class="mb-3">
													<input type="text" class="form-control" placeholder="收件人" />
												</div>
												<div class="mb-3">
													<input type="text" class="form-control" placeholder="主题" />
												</div>
												<div class="mb-3">
													<textarea class="form-control" placeholder="信息" rows="10" cols="10"></textarea>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" id="closeSave" class="btn btn-secondary"  data-bs-dismiss="modal">关闭</button>
										<button type="button" id="saveRole" class="btn btn-primary" >保存</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--end wrapper-->
	<!--start switcher-->
	<div th:replace="~{component/public::change-color}"></div>
	<!--end switcher-->
	<!--公共栏所需script-->
	<div th:replace="~{component/public::scripts}"></div>
	<!--plugins-->
	<script src="/static/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="/static/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script>
		new PerfectScrollbar('.email-navigation');
		if($(".email-list").length > 0 ){
			new PerfectScrollbar('.email-list');
		}
		if($(".email-read-box").length > 0){
			new PerfectScrollbar('.email-read-box');
		}
	</script>
	<script>
		/*<a href="javascript:;" class="list-group-item d-flex align-items-center"><i class='bx bxs-bookmark me-3 font-20'></i><span>Important</span></a>*/
		$(document).ready(function(){
			$("#emailBtn").on("click",function(){
				$('button[data-bs-target="#exampleVerticallycenteredModal3"]').trigger("click");
			})
		})


		/*
		文件内容
		<div class="email-content">
						<div class="email-read-box p-3">
							<h4>主题</h4>
							<hr>
							<div class="email-read-content px-md-5 py-5">
								<p>内容1</p>
								<p>内容2</p>
								<p>内容3</p>
							</div>
						</div>
					</div>*/
	</script>
</body>

</html>